html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}
.calculator{
  background: #f4f4f4;
  min-width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.5);
}
/* Calc Display */
.calculator-display{
  background: #333;
  color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}
.calculator-display h1{
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  overflow-x: auto ;
}
/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Buttons */
.calc-btn{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  padding: 10px;
}
button{
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(136, 133, 133);
}
button:hover{
  filter: brightness(120%);
}
button:active{
  transform: translateY(1px);
}
button:focus{
  outline: none;
}
.operator{
  background: #333;
  color: #f4f4f4;
  font-size: 28px;
}
.divide{
  font-size: 35px;
}
.clear{
  background-color: coral;
  color: #f4f4f4;

}
.equal-sign{
  grid-column: -2;
  grid-row: 2 / span 4;
  background: teal;
}

/* Media */
@media screen and (max-width:600px){
  .calculator{
    width: 95%;
  }
}